*{
    
    font-family: "Poppins", sans-serif;
}
.logo{
    font-family:  "Arima", system-ui;
}
.banner{
    background-image: url(/css/pexels-valeriiamiller-2642842.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px;
   
}