body,h1,h2,p{
    margin: 0;
}
.main-div{
    
    background-color:  #d4def2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   

}
.heading{
    font-size: 100px;
    color: #1877F2;
    padding: 20px;

    
}
.signup-form{
    background-color: #fff;
    border-radius: 8px;
    width: 430px;
    
}
.form-heading{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ccc;
   
}
h2{
    padding-bottom: 10px;
}
.input-fields{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
   
}
input,select{
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
}
.half-width{
    display: flex;
    width: 45%;
    
    
}
.full-width{
    display: flex;
    width: 100%;

}
label{
    font-size: 12px;
    padding-bottom: 10px;
}
.quater{
    display: flex;
    width: 32%;

}
.dob{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn{
    border: 0;
    background-color: rgb(51, 202, 51);
    color: #fff;
    padding: 8px 55px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
}
.div-btn{
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
